NET "clk"      LOC = "V10";

// buttons
NET "btn1[0]"  LOC = "A8";
NET "btn1[1]"  LOC = "D9";
NET "btn2[0]"  LOC = "C4";
NET "btn2[1]"  LOC = "C9";
NET "reset"    LOC = "B8";

NET "miao[0]"  LOC = "T5";
NET "miao[1]"  LOC = "V8";

// vga sync
NET "hsync"    LOC = "N6";
NET "vsync"    LOC = "P7";

// Red: 3 bits
NET "rgb[0]"   LOC = "U7";
NET "rgb[1]"   LOC = "V7";
NET "rgb[2]"   LOC = "N7";
// Green: 3 bits
NET "rgb[3]"   LOC = "P8";
NET "rgb[4]"   LOC = "T6";
NET "rgb[5]"   LOC = "V6";
// Blue: 2 bits
NET "rgb[6]"   LOC = "R7";
NET "rgb[7]"   LOC = "T7";
